name: Publish to GitHub Packages
on:
  push:
    branches-ignore:
      - 'renovate/**'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
      - name: Publish package
        run: mvn --batch-mode -s $GITHUB_WORKSPACE/.github/workflows/github-packages-settings.xml deploy
        env:
          CI: false
          USER_NAME: ${{ secrets.VANILLABP_USER_NAME }}
          USER_TOKEN: ${{ secrets.VANILLABP_USER_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}